# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-shift-i': 'inno-setup:save-&-compile'

'.platform-win32 atom-text-editor':
  'ctrl-alt-i': 'inno-setup:save-&-compile'
